/*
Orden Css
Propiedades del modelo de caja (display, width, height, margin, etc)
Posicionamiento (position, left, top, right, etc)
Tipografía(text-transform, text-decoration)
Decoración (background-image, color, etc)
Variables
*/

:root {
    --green-main: #47cfac;
    --off-white: #e6e9ed;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
}

.header-container {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header-icons {
    width: 100%;
    min-width: 320px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--green-main);
}

.header-icons-container {
    margin-right: 10px;
    display: grid;
    grid-template-columns: repeat(5, minmax(60px, 1fr));
}

.header-icons__link{
    color: white;
    text-decoration: none;
}

.nav-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    min-height: 90px;
}

.nav-logo__img {
    width: 220px;
    margin-top: 10px;
}

.nav-profile-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-profile__link {
    margin-right: 10px;
    text-decoration: none;
    color:black;
    border-bottom: 1px solid black;
}

.main-container {
    width: 100%;
    height: calc(100vh - 140px);
    display: grid;
    grid-template-rows: 60% 40%;
    text-align: center;
    background-image: url('/assets/img/Cover.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main__title {
    width: 50%;
    margin: auto;
    font-size: 40px;
    font-weight: bold;
    color:white;
}

.main_ca {
    width: 50%;
    margin: 20px auto;
}

.main-ca__button {
    font-size: 20px;
    font-weight: 700;
    padding: 9px 14px;    
    background-color: var(--green-main);
    border: 1px solid white;
    color:black;
    cursor: pointer;
    text-decoration: none;
}

/* Page Blogs */

.main-news {
    width: 100%;
    height: auto;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
    grid-template-rows: 50px 1fr;
    background-color: #e6e9ed;
}

.main-news__title {
    grid-column-start: 2;
    width: 100%;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
}

.main-news__grid-container {
    width: 100%;
    height: 100%;
    margin: auto;
    grid-column-start: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    grid-gap: 20px;
}

.main-news__img {
    width: 100%;
    margin: auto;
    height: auto;
}

.main-news__body {
    width: 100%;
    margin: auto;
}

.main-news__body .body__description {
    margin-bottom: 50px;
}

.main-news__body .blog-button {
    margin-bottom: 20px;
}
.blog-button {
    display: inline-block;
    padding: 8px 10px;
    font-size: 12px;
    border: 1px solid var(--green-main);
    color: black;
    text-decoration: none;
}

.blog-button:hover {
    background-color: var(--green-main);
}

.main-blogs {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
}

.main-blogs__title {
    padding-bottom: 20px;
    grid-column: 2/4;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #e6e9ed;
}

.blogs-container {
    padding: 0 10px;
    margin-bottom: 60px;
    grid-column: 2/4;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.card-blog { 
    margin-bottom: 20px;
}

.card-blog__img {
    width: 100%;
    height: auto;
}

.body__body {
    margin: 30px 0;
}

.footer-container {
    width: 100%;
    height: 70px;
    padding-top: 20px;
    background-color: #22272d;
    border-top: 35px solid var(--green-main);
    color: white;
    text-align: center;
}

/* blog page */

.blog-container {
    width: 100%;
    height: auto;
}

.blog-img-container {
    width: 90%;
    margin: 0 auto;
}

.blog-img-container .blog__img {
    width: 100%;
}

.blog__article {
    width: 70%;
    margin: 0 auto 50px;
}

.blog-title-section {
    width: 100%;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 700;
    border-bottom: 2px solid #e6e9ed;
}

.blog__article .blog-title {
    font-size: 35px;
    font-weight: bold;
}
.blog__article .blog-body {
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
}

.contact-main-container {
    width: 100%;
    height: auto;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    background-color: var(--off-white);
}

.card-contact{
    display: flex;
    width: 80%;
    margin: auto auto;
}

.card-contact__body {
    margin-left: 10px;
}

.card-contact__img {
    width: 70px;
    height: 80px;
    margin: auto auto;
}
.card-contact__title {
    width: fit-content;
    border-bottom: 1px solid black;
}
.card-contact__description {
    width: 100%;
}

/*Perfil*/

.header-main-profile {
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 50px 0;
    background-color: var(--off-white);
}

.main-card-profile {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
}

.main-card-profile div:first-child {
    width: 100%;
}

.card-profile__img {
    width: 100%;
    margin: auto;
}

.card-profile__body {
    width: 100%;
    margin-left: 20px;
}

.main-profile {
    width: 100%;
    height: auto;
}

.main-profile__title {
    width: 80%;
    margin: 30px auto 0;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 2px solid var(--off-white);
}

.proyects-grid__containter {
    width: 80%;
    margin: 30px auto;
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
}
